<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HelloWorld</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div id="my-container" class="jumbotron jumbotron-fluid">
    <h1 id="title" th:text="${user.name}"></h1>
    <p id="firsttext">欢迎来到小世界,在这里你可以体验到和外面完全不同的乐趣,希望你能玩的愉快</p>
    <p id="secondtext">
        <a class="btn btn-primary btn-lg" href="/" role="button">直接开始</a>
        <a id="next" class="btn btn-primary btn-lg" role="button" th:href="@{'/perfect/addDetail' + ${user.name}}">完善资料</a>
    </p>
</div>
<style type="text/css">
    body{
        background-color: #8fd19e;
    }
    #title{
        margin: 60px;
    }
    #firsttext{
        margin: 60px;
    }
    #secondtext{
        margin: 60px;
    }
    #my-container{
        width: 100%;
        height: 100%;
        background-color: #8fd19e;
        text-align:center;
    }
    #next{
        margin-left: 100px;
    }
</style>
<script src="/js/jquery-3.4.1.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>